.link-line div div {
  cursor: pointer;
  flex-flow: row;
  align-items: center;
  margin: 0 auto 30px;
  display: flex;
  max-width: 1170px;
  width: 100%;
}

.link-line div div a {
  text-decoration: none;
  color: #262626;
  transition: color .4s ease-in-out, border-color .4s ease-in-out;
  background-color: #fff;
  border-color: #ccc;
  position: relative;
  padding: 10px 30px;
  border: 1px solid rgb(var(--color-primary));
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: .15em;
  white-space: nowrap;
}

.link-line div div div {
  opacity: 1;
  transform: translateX(0);
  margin: 0 0 3px;
  align-items: center;
  color: #6e6e6e;
  font-size: 20px;
  line-height: 24px;
  transition: opacity .8s ease-in-out,transform .8s ease-in-out;
}

.link-line div div div:before {
  flex-grow: 1;
  content: "";
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 3px;
  transition: flex-grow 1s ease-in-out;
}