.social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-wrapper_button {
    margin: 0px 10px;
    width: 55px;
    height: 55px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: background .4s ease-in-out;
    text-decoration: none;
    color: var(--color-heading);
}
