main .hero {
    visibility: unset;
}

.hero {
    padding: 10em 20px 4em 20px;
    margin: 0 auto 50px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
}

.hero h1 {
    padding-top: 60px;
    max-width: none;
    min-height: 0;
    margin-bottom: 20px;
    color: #000;
    font-weight: 700;
}

.hero p {
    margin-top: 20px;
    margin-bottom: 0;
}

.hero picture img {
    min-width: 100%;
}

@media screen and (max-width: 959px) {
    .hero .hero-text {
        order: 2;
        z-index: 1;
        position: absolute;
    }

    .hero .hero-text h1, .hero .hero-text p {
        color: #fff;
    }

    .hero .hero-image {
        position: relative;
        min-height: 50vw;
    }

    .hero .hero-image:after {
        content: "";
        position: absolute;
        top: 0;
        left: -20px;
        height: 100%;
        width: calc(100% + 40px);
        background: rgba(0,0,0,.44);
    }

    .hero .hero-image picture img {
        position: absolute;
        top: 0;
        left: -20px;
        width: calc(100% + 40px);
        height: 100%;
        max-width: none;
        object-fit: cover;
    }
}

@media screen and (min-width: 960px) {
    .hero {
        padding: 10em 20px 4em 20px;
        margin: 0 auto 50px;
        max-width: 1170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 40px;
    }

    .hero .hero-image picture img {
        min-width: 100%;
    }
}