main .hero {
    visibility: unset;
}

.hero {
    padding: 10em 20px 4em 20px;
    margin: 0 auto 50px;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero h1 {
    padding-top: 60px;
    max-width: none;
    min-height: 0;
    margin-bottom: 20px;
    color: #000;
    font-weight: 700;
}

.hero p {
    margin-top: 20px;
    margin-bottom: 0;
}

.hero picture img {
    min-width: 100%;
}

@media screen and (min-width: 960px) {
    .hero {
        padding: 10em 20px 4em 20px;
        margin: 0 auto 50px;
        max-width: 1170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 40px;
    }

    .hero img {
        min-width: 100%;
    }
}