.related-articles {

}

.related-articles_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0 1em 0;
}

.related-articles_item {
    margin: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.related-articles_item-title{
    font-weight: 700;
}

.related-articles_item picture img {
    height: 200px;
}
