footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  flex-shrink: 0;
  box-sizing: border-box;
  margin: auto;
  padding: 0 23px;
  width: 100%;
  background-color: #f6f6f6;
}

/* NAV GRID */
.footer-nav-grid {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-nav-column:nth-child(4) {
  margin-left: 206px;
}

@media (min-width: 900px) {
  .footer-nav-grid {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .footer-nav-column {
    width: 100%;
  }

  .footer-nav-column:not(:last-child) {
    margin-right: 1rem;
  }
}

/* underline cookie preferences + notices */
#legal-menu .footer-nav-item-link:nth-child(3) {
  margin-top: 30px;
  text-decoration: underline;
}

#legal-menu .footer-nav-item-link:nth-child(4) {
  text-decoration: underline;
}

@media (min-width: 900px) {
  .footer-nav-item,
  .footer-nav-grid > .footer-nav-column:last-of-type .footer-nav-item {
    border: 0;
  }
}

.footer-nav-item-title {
  margin: 6px 0;
  color: var(--color-heading);
  padding: 8px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-item-title[aria-expanded=false]::after {
  content: '\2228';
}

.footer-nav-item-title[aria-expanded=true]::after {
  content: '\2227';
}

@media (min-width: 900px) {
  .footer-nav-item-title::after {
    visibility: hidden;
    display: none;
  }
}

.footer-nav-item-title[aria-expanded=false] + .footer-nav-item-links {
  visibility: hidden;
  display: none;
}

.footer-nav-item-title[aria-expanded=true] + .footer-nav-item-links {
  visibility: visible;
}

.footer-nav-item-links {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.footer-nav-item-link a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #6e6e6e;
  cursor: pointer;
}

.footer-nav-item-link a:hover {
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  outline: none;
  color: var(--color-primary);
}

/* FOOTER INFO ROW */
.footer-info {
  margin-top: 1rem;
}

.footer-info.has-region > .footer-info-column:first-of-type,
.footer-info.has-social > .footer-info-column:first-of-type {
  display: flex;
  align-items: baseline;
}

.footer-info.has-region.has-social .footer-social {
  margin-left: 18px;
}

@media (min-width: 900px) {
  .footer-info {
    display: flex;
  }

  .footer-info.has-privacy:not(.has-region):not(.has-social) {
    justify-content: end;
  }

  .footer-info.has-region.has-privacy,
  .footer-info.has-social.has-privacy {
    justify-content: space-between;
    align-items: center;
  }
}

/* SOCIAL ICONS */
.footer-social {
  position: relative;
}

.footer-social-icons {
  list-style-type: none;
  padding: 0;
}

.footer-social-icon {
  display: inline;
  margin-bottom: 6px;
}

.footer-social-icon:hover {
  opacity: 0.8;
}

.footer-social-icon:not(:last-of-type) {
  margin-right: 20px;
}

.footer-social-img {
  /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
  filter: invert(26%) sepia(27%) saturate(7118%) hue-rotate(188deg) brightness(97%) contrast(103%);
  width: 18px;
}

/* PRIVACY INFO */
.footer-privacy {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .footer-privacy {
    flex-direction: row;
  }
}

/* COPYRIGHT */
.footer-privacy-copyright {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 9px;
  line-height: 1;
}

@media (min-width: 1200px) {
  .footer-privacy-copyright::after {
    content: '/';
    margin-left: 6px;
    margin-right: 6px;
  }
}

/* PRIVACY LINKS */
.footer-privacy-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.footer-privacy-link {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}

.footer-privacy-link img {
  height: 9px;
  width: 9px;
  margin-right: 3px;
}

.footer-privacy-link:not(:last-child)::after {
  content: '/';
  margin-left: 6px;
}
