/* above the fold CSS goes here */
:root {
    --color-primary: rgb(0, 116, 192);
    --color-primary-hover: #0062a3;
    --gradient-color: rgba(0, 0, 0, 0.8);
    --color-heading: #393939;
    --main-font: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    --paddingCompensation: 0px;
    --content-width: 600px;
    --image-border-radius: 2px;
}

main {
    margin: 0 auto;
}

body {
  color: #262626;
  font-family: var(--main-font);
  margin: 0;
  visibility: hidden;
}

body.appear {
    visibility: unset;
}


/* gnav placeholder */

header {
  top: 0;
  width: 100%;
  height: 65px;
  background-color: var(--color-white);
}

header .gnav,
main .highlights,
main .hero {
  visibility: hidden;
}

kendo-content-block a, .wysiwyg a {
    font-weight: 700;
    text-decoration: underline;
}

p a {
    color: var(--color-primary);
    transition: color .4s ease-in-out;
    cursor: pointer;
}

p {
    margin: 0 auto 36px;
    padding-bottom: 1rem;
    max-width: var(--content-width);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

a {
    font-weight: 700;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto 18px;
    max-width: var(--content-width);
}

h2 {
    font-size: 20px;
    line-height: 24px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

ul, ol, li {
    margin: 0 auto;
    max-width: var(--content-width);
}

img {
    border-radius: var(--image-border-radius);
    width: 100%;
}

button {
    cursor: pointer;
}

button, input {
    font-family: var(--main-font);
}
